<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor List</title>
</head>
<body>
    <div class="col-md-6 offset-md-3">
        <h2>Details Of Dr.{{doctor.firstname}}</h2>
    <div>
        <label><b>First Name:</b>{{doctor.firstname}}</label>
    </div>
    <div>
        <label><b>Last Name:</b>{{doctor.lastname}}</label>
    </div>
    <div>
        <label><b>LicenseNumber:</b>{{doctor.licenseNumber}}</label>
    </div>
    <div>
        <label><b>Speciliazation:</b>{{doctor.speciliazation}}</label>
    </div>
    <div>
        <label><b>Location:</b>{{doctor.location}}</label>
    </div>
    <div>
        <label><b>Description:</b>{{doctor.description}}</label>
    </div>
    <div>
        <label><b>Experience:</b>{{doctor.experience}}</label>
    </div>
</div>
</body>
</html>